body{
    margin: 0;
    padding: 0;
    background: grey;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 417px auto;
}

/* SIDE LEFT*/
.container-left{
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
    grid-template-rows:9%  8% 87%;
    position: absolute;
}

/*one left*/
.one-left{
    background: #ededed;
    display: grid;
    grid-template-columns: 55% 45%; 
    align-items: center;
    border-right: solid 1px #f7f7f7;
}

.one-left img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
}

.image-profile{
    margin: 4px 0px 0px 16px;
}

.icons{
    color: #919191;
}

#status{
    margin-left: 40px;
}

#new-chat{
    margin-left: 25px;
}

#menu{
    margin-left: 34px;
}

/*two left*/
.two-left{
    background: #f6f6f6;
    border-bottom: solid 1px #f7f7f7;
    border-right: solid 1px #f7f7f7;
}

.container-two-left{
    width: 390px;
    height: 35px;
    margin: 8px 13px;
    background: #ffffff;
    border-radius: 18px;
    display: grid;
    grid-template-columns: 10% 90%;
}

#search-left{
    margin: 11px 15px;
    position: relative;
    color: #c5c5c5;
}

.text-search-left{
    margin: 8px 25px;
    color: #c5c5c5;
}
/* chats*/
.three-left{
    background: #ffffff;
}

.container-three-left{
    height: 100%;
    display: grid;
    grid-template-rows:  65px auto auto auto auto auto;
}

.box:hover{
    background: #c5c5c5;
}

#name-chat{
    margin: 10px 0px 0 15px;
}

#time-chat{
    margin: 16px 0 0 100px;
}

#messege-chat{
    text-align: left;
    margin: 0 0 0 15px; 
}

/* chat santiago*/
.container-chat-santiago{
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0px 0 5px 0;
    border-bottom: 1px solid #f6f6f6;
}

.photo-chat-santiago{
    width: auto;
    height: 40px;
}
.photo-chat-santiago img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px 10px;
}

.dates-chat-santiago{
    display: grid;
    grid-template-columns: 50% 50%;

}

/* chat any*/
.container-chat-any{
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0px 0 5px 0;
    border-bottom: 1px solid #f6f6f6;
}

.photo-chat-any{
    width: auto;
    height: 40px;
}
.photo-chat-any img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px 10px;
}

.dates-chat-any{
    display: grid;
    grid-template-columns: 50% 50%;

}

/* chat caramelo*/
.container-chat-caramelo{
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0px 0 5px 0;
    border-bottom: 1px solid #f6f6f6;
}

.photo-chat-caramelo{
    width: auto;
    height: 40px;
}
.photo-chat-caramelo img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px 10px;
}

.dates-chat-caramelo{
    display: grid;
    grid-template-columns: 50% 50%;

}

/* chat mami*/
.container-chat-mami{
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0px 0 5px 0;
    border-bottom: 1px solid #f6f6f6;
}

.photo-chat-mami{
    width: auto;
    height: 40px;
}
.photo-chat-mami img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px 10px;
}

.dates-chat-mami{
    display: grid;
    grid-template-columns: 50% 50%;

}

/* chat familia*/
.container-chat-familia{
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0px 0 5px 0;
    border-bottom: 1px solid #f6f6f6;
}

.photo-chat-familia{
    width: auto;
    height: 40px;
}
.photo-chat-familia img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px 10px;
}

.dates-chat-familia{
    display: grid;
    grid-template-columns: 50% 50%;

}

/* chat horta*/
.container-chat-horta{
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0px 0 5px 0;
    border-bottom: 1px solid #f6f6f6;
}

.photo-chat-horta{
    width: auto;
    height: 40px;
}
.photo-chat-horta img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px 10px;
}

.dates-chat-horta{
    display: grid;
    grid-template-columns: 50% 50%;

}

/* chat eche*/
.container-chat-eche{
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0px 0 5px 0;
    border-bottom: 1px solid #f6f6f6;
}

.photo-chat-eche{
    width: auto;
    height: 40px;
}
.photo-chat-eche img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px 10px;
}

.dates-chat-eche{
    display: grid;
    grid-template-columns: 50% 50%;

}

/* SIDE RIGHT*/
.side-right{
    background: #f8f9fa;
}
.container-right{
    height: 70%;
    width: 50%;
    margin: 100px 243px;
    display: grid;
    grid-template-rows: 57% auto;
}

.container-right img{
    width: 240px;
    margin: 0 100px;
    
}

.container-right-text h2, p{
    text-align: center;
    margin-top: 1px;
}

#text2{
    margin-top: 5px;
}